<div class="flex justify-center space-x-4 mb-6">
  @for (tab of tabs; track tab) {

  <button
    (click)="activeTab = tab.id"
    [ngClass]="{
      'bg-[#054F67] text-white': activeTab === tab.id,
      'bg-gray-200 text-gray-600': activeTab !== tab.id
    }"
    class="px-4 py-2 rounded-lg font-bold transition duration-300"
  >
    {{ tab.label }}
  </button>
  }
</div>
@for (tab of tabs; track tab) {

<div>
  @if (activeTab === tab.id ) { @if (tab.id !== 1) {
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mx-auto p-8">
    <app-shared-card
      [newsImage]="sharedCardImage"
      (cardClicked)="onCardClicked()"
      [newsTitle]="tab.title"
      [newsDescription]="tab.description"
    />
    <app-shared-card
      [newsImage]="sharedCardImage"
      (cardClicked)="onCardClicked()"
      [newsTitle]="tab.title"
      [newsDescription]="tab.description"
    />
    <app-shared-card
      [newsImage]="sharedCardImage"
      (cardClicked)="onCardClicked()"
      [newsTitle]="tab.title"
      [newsDescription]="tab.description"
    />
  </div>

  }@else {
  <div
    class="grid grid-cols-1 md:grid-cols-2 gap-6 items-center p-6 bg-yellow-50 rounded-xl shadow-md"
    dir="rtl"
  >
    <div class="text-gray-900 leading-relaxed">
      <h3 class="text-xl font-bold text-[#054F67] mb-3">🎓 منح جامعة أسوان</h3>
      <p class="mt-4">
        تُقدم الجامعة مجموعة من المنح الدراسية التي تشمل:
        <br /><br />
        - 💡 منح التفوق الأكاديمي للطلاب المتميزين.<br />
        - 🤝 دعم اجتماعي للطلاب من الأسر ذات الدخل المحدود.<br />
        - 🌍 فرص تبادل دولي للدراسة بالخارج.<br />
        - 🧠 منح للموهوبين والمبدعين في الابتكار والبحث العلمي.
        <br /><br />
        يمكن التقديم إلكترونيًا عبر بوابة الطالب مع تجهيز الأوراق المطلوبة.
      </p>
    </div>
  </div>
  } }
</div>
}
