<div
  class="logo-container relative flex flex-col-reverse md:grid md:grid-cols-3 md:items-center sm:items-end px-10 py-4 gap-4"
>
  <div class="order-3 md:order-3 flex flex-col items-end md:items-end gap-4">
    <img
      [src]="logoImage"
      alt="Logo"
      class="h-[80px] w-[127px] drop-shadow-xl"
    />
    <div class="flex gap-2 justify-center">
      <a
        href="https://instagram.com"
        target="_blank"
        class="bg-[#E1306C] text-white w-10 h-10 flex items-center justify-center rounded-full hover:scale-110 transition shadow-lg"
      >
        <i class="fab fa-instagram text-xl"></i>
      </a>
      <a
        href="https://twitter.com"
        target="_blank"
        class="bg-black text-white w-10 h-10 flex items-center justify-center rounded-full hover:scale-110 transition shadow-lg"
      >
        <i class="fab fa-x-twitter text-xl"></i>
      </a>
      <a
        href="https://facebook.com"
        target="_blank"
        class="bg-[#1877F2] text-white w-10 h-10 flex items-center justify-center rounded-full hover:scale-110 transition shadow-lg"
      >
        <i class="fab fa-facebook-f text-xl"></i>
      </a>
    </div>
  </div>
  <div
    class="order-2 md:order-2 flex justify-center md:justify-start sm:self-center"
  >
    <img
      [src]="sdgsImage"
      alt="SDGs Logo"
      class="w-[340px] h-[57px] cursor-pointer drop-shadow-xl"
      routerLink="/sdgs"
    />
  </div>
  <div
    class="h-full items-end flex justify-start md:justify-start sm:self-baseline sm:self-end"
  >
    <img
      [src]="visitAswu"
      alt="Visit ASWU"
      class="w-[155px] order-1 md:order-1 drop-shadow-xl max-w-[220px]"
    />
  </div>
</div>
