<section>
  <div class="row mt-5 justify-content-around">
    <div
      *ngFor="let card of cards()"
      class="col-md-3 radius-16 card-container d-flex justify-content-around align-items-center"
    >
      <div [routerLink]="'/admin/dashboard/' + card.name.toLowerCase()">
        <p class="numbers-wrapper">{{ card.number }}</p>
        <span>{{ card.name }}</span>
      </div>
      <div class="img-wrapper">
        <img src="assets/images/svg/card-img.svg" alt="icon" />
      </div>
    </div>
  </div>
  <div
    class="row chart-container d-flex align-items-center justify-content-around"
  >
    <div class="col-md-5 text-center booking-container">
      <span> Bookings </span>
      <!-- <canvas
        baseChart
        [data]="bookingChartData()"
        [options]="chartOptions"
        [type]="chartType"
      ></canvas> -->
    </div>
    <div class="users-container text-center col-md-5">
      <span> Users </span>

      <!-- <canvas
        baseChart
        [data]="userChartData()"
        [options]="chartOptions"
        [type]="userChartType"
      ></canvas> -->
    </div>
  </div>
</section>
