<section>
  <div
    class="flex flex-col md:flex-row justify-evenly items-center gap-8 text-center p-12"
  >
    <div
      class="bg-white rounded-xl drop-shadow-[0_4px_10px_rgba(7,81,105,0.4)] p-6"
    >
      <h2
        class="text-2xl font-semibold mb-4 text-[#075169] border-b-4 border-yellow-400 inline-block pb-1"
      >
        عدد الطلاب في كليات جامعة أسوان 🧑‍🎓
      </h2>

      <canvas
        baseChart
        [data]="studentsChartData"
        [type]="'doughnut'"
        width="350"
        height="350"
      ></canvas>
    </div>

    <div
      class="bg-white rounded-xl drop-shadow-[0_4px_10px_rgba(7,81,105,0.4)] p-6"
    >
      <h2
        class="text-2xl font-semibold mb-4 text-[#075169] border-b-4 border-yellow-400 inline-block pb-1"
      >
        عدد الأساتذة في كليات جامعة أسوان 👩‍🏫
      </h2>
      <canvas
        baseChart
        [data]="professorsChartData"
        [type]="'bar'"
        width="350"
        height="350"
      ></canvas>
    </div>
  </div>
</section>
