@import '../../../../assets/sass/abstracts/variables';
.mat-table {
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  .mat-mdc-header-row {
    background-color: #E2E5EB;
    color: black;
  }
}
.mat-sort-header-arrow {
  color: white !important;
}
.mat-mdc-row:nth-child(even) {
  background-color: #f5f5f5;
}

.chip {
  background-color: $light-blue !important;
  color: white !important;
}
