<header>
  <div class="row p-2 h-100 justify-content-between align-items-center">
    <div class="col-md-3">
      <img src="assets/images/svg/logo.svg" alt="logo" />
    </div>
    <div class="col-md-5">
      <div
        class="info-wrapper pe-3 d-flex justify-content-end align-items-center column-gap-3"
      >
        <span><img [src]="profileImage" alt="avatar" /></span>
        <span> {{ userName }} </span>
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu"
        >
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button
            mat-menu-item
            [routerLink]="'/admin/dashboard/profile/' + userId"
          >
            <mat-icon>person</mat-icon>
            <span>Profile</span>
          </button>
          <button mat-menu-item routerLink="/admin/dashboard/change-password">
            <mat-icon>lock_open</mat-icon>
            <span>Change password</span>
          </button>
          <button mat-menu-item (click)="onLogout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
</header>
