@import "../../../../../../assets/sass/abstracts/variables";
header {
  .row {
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
  }
  span {
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }
}

// .mat-mdc-menu-item:hover,
// .mat-mdc-menu-item:hover .mat-icon-no-color,
// .mat-mdc-menu-item:hover .mat-mdc-menu-submenu-icon {
//   color: white;
// }
