<h1 mat-dialog-title class="blue-text">
  <button color="warn" mat-dialog-close class="close-button">
    <mat-icon>close</mat-icon>
  </button>
</h1>
<div mat-dialog-content>
  <img
    src="assets/images/avif/caution.avif"
    alt="Caution"
    class="caution-image"
  />
  <p>Please log in if you have an account, or register if you are new.</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onLogin()" mat-dialog-close>Login</button>
  <button mat-button (click)="onRegister()" mat-dialog-close>Register</button>
</div>
