.close-button {
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
}
.caution-image {
  display: block;
  margin: 0 auto 20px;
  max-width: 100px;
}

mat-dialog-content {
  font-size: 16px;
  color: #333;
  text-align: center;
  margin: 20px 0;
}

mat-dialog-actions {
  display: flex;
  justify-content: space-around;
}
