<div class="container">
  <div class="row">
    <div class="text-center mb-6">
      <h2 class="text-2xl text-[#054F67]">تصنيفات الجامعة</h2>
      <div class="w-1/6 mx-auto mt-2 h-1 bg-yellow-400 rounded"></div>
    </div>

    <div class="flex items-center gap-4">
      <div class="w-1/2 flex justify-center">
        <img [src]="imageUrl" alt="ranking" class="w-3/4 h-auto rounded-lg" />
      </div>

      <div class="w-1/2" dir="rtl">
        <p class="font-medium text-gray-800">
          انطلق العمل على تحسين التصنيف الدولي لجامعة أسوان في طليعة عام 2018.
          وبعد عام من العمل الدؤوب وتضافر جهود الجميع بالجامعة وتسخير الإمكانات،
          صُنفت جامعة أسون كأفضل جامعة مصرية وضمن أفضل 500 جامعة على مستوى
          العالم في تصنيف التايمز البريطاني THE World Rankings 2020. ومنذ ذلك
          الحين وعلى مدار ثلاثة أعوام حافظت جامعة أسوان على صدارتها لقائمة أفضل
          الجامعات المصرية لتصنيف التايمز البريطاني وضمن أفضل 500 جامعة عالمية.
        </p>
        <br />
        <p class="font-medium text-gray-800">
          ومؤخرا حصلت جامعة أسوان على أفضل تصنيف لجامعة مصرية على الإطلاق
          بحصولها على المركز 67 على مستوى العالم وأفضل جامعة مصرية وإفريقية، في
          تصنيف THE Impact Ranking 2022 والمعني بالتنمية المستدامة.
        </p>
      </div>
    </div>
  </div>
</div>
