<header>
  <div class="container h-100">
    <div class="d-flex justify-content-between align-items-center h-100" style="direction: ltr;">
      <div>
        <img src="../../../../../../assets/images/svg/logo.svg" alt="logo" />
      </div>
      <nav class="d-flex gap-5 align-items-center h-100">
        <ul class="d-flex gap-4 align-items-center m-0" [ngStyle]="{'direction': showEnBtn? 'rtl' : 'ltr'}">
          @for(link of navLinks; track link.text) {
          @if (link.isUser) {
          <li>
            <a [routerLink]="link.path" [queryParams]="link.text === 'Explore' ? { page: 1, size: 200 } : null
                  " routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{ 'nav.' + link.text |
              translate }}</a>
          </li>
          }
          }
          <button class="btn-trans" *ngIf="showEnBtn" (click)="switchLanguage('en')">EN</button>
          <button class="btn-trans" *ngIf="!showEnBtn" (click)="switchLanguage('ar')">AR</button>
        </ul>
        @if (role !== 'user') {
        <div class="d-flex gap-3">
          <button [routerLink]="authRoutes.register" mat-raised-button color="primary">
            {{ 'nav.register' | translate }}
          </button>
          <button [routerLink]="authRoutes.login" mat-raised-button color="primary">
            {{ 'nav.login' | translate }}
          </button>
        </div>
        } @else {
        <div class="d-flex align-items-center gap-3">
          <div class="d-flex align-items-center gap-2">
            <img width="40px" height="40px" class="rounded-circle" [src]="
                  user?.profileImage
                    ? user?.profileImage
                    : '../../../../assets/images/svg/profile-placeholder-image.svg'
                " alt="profile picture" />
            <p>{{ user?.userName }}</p>
          </div>
          <div class="theme-control">
            <button mat-icon-button (click)="toggleTheme()">
              @if (themeService.themeSignal() === 'dark'){
                <mat-icon>brightness_5</mat-icon>
              } @else {
                <mat-icon>bedtime</mat-icon>
              }
            </button>
          </div>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>person</mat-icon>
              <span>{{ 'nav.profile' | translate }}</span>
            </button>
            <button mat-menu-item>
              <mat-icon>lock_open</mat-icon>
              <span>{{ 'nav.change-password' | translate }}</span>
            </button>
            <button mat-menu-item (click)="logout()">
              <mat-icon>logout</mat-icon>
              <span>{{ 'nav.logout' | translate }}</span>
            </button>
          </mat-menu>
        </div>
        }
      </nav>
    </div>
  </div>
</header>
