img {
  height: 2rem;
}

h3 {
  font-size: 18px;
  margin-bottom: 35px;
}

.desc,
a,
.copyright {
  color: #b0b0b0;
  margin-top: 26px;
}

.desc,
a {
  font-size: 17px;
}

ul li {
  margin-bottom: 8px;
}

hr {
  color: #e5e5e5;
  margin: 45px 0;
}
