<footer class="pb-2">
  <hr />
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <img src="../../../../assets/images/svg/logo.svg" alt="" />
        <p class="desc">
          {{ 'footer.desc' | translate }}
        </p>
      </div>
      <div class="col-md-3">
        <h3 class="blue-text">{{ 'footer.col01.heading' | translate }}</h3>
        <ul class="list-unstyled p-0">
          <li>
            <a href="#">{{ 'footer.col01.link01' | translate }}</a>
          </li>
          <li>
            <a href="#">{{ 'footer.col01.link02' | translate }}</a>
          </li>
          <li>
            <a href="#"> {{ 'footer.col01.link03' | translate }} </a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3 class="blue-text">{{ 'footer.col02.heading' | translate }}</h3>
        <ul class="list-unstyled p-0">
          <li>
            <a href="#"> {{ 'footer.col02.link01' | translate }} </a>
          </li>
          <li>
            <a href="#"> {{ 'footer.col02.link02' | translate }} </a>
          </li>
          <li>
            <a href="#"> {{ 'footer.col02.link03' | translate }} </a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3 class="blue-text">{{ 'footer.col03.heading' | translate }}</h3>
        <ul class="list-unstyled p-0">
          <li>
            <a href="#"> {{ 'footer.col03.link01' | translate }} </a>
          </li>
          <li>
            <a href="#"> {{ 'footer.col03.link02' | translate }} </a>
          </li>
          <li>
            <a href="#">{{ 'footer.col03.link03' | translate }} </a>
          </li>
        </ul>
      </div>
    </div>
    <p class="copyright text-center pt-3">
      {{ 'footer.copyright' | translate }}
    </p>
  </div>
</footer>
&#64;
