<section class="mx-auto">
  <app-breadcrumbs
    [breadcrumbs]="[
      { label: 'Home', routerLink: '/home' },
      { label: 'Services', routerLink: '/services' }
    ]"
  />
  <div
    class="grid justify-items-center grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 px-4 sm:px-8 md:px-16 lg:px-32 my-16"
  >
    @for (service of services; track service) {
    <app-single-service
      [service]="service"
      (serviceClicked)="navigateToService(service.route)"
    />
    }
  </div>
</section>
