@import "../../../../../../assets/sass/abstracts/variables";

.sidebar {
  width: 100%;
  transition: width 0.5s ease;
  background-color: $dark-blue;
  ul {
    list-style: none;
    padding: 0;
    padding-top: 3rem;

    li {
      text-align: center;
      position: relative;
      cursor: pointer;

      &.active,
      &:hover {
        color: $white-color;
        background-color: $dark-grey;

        &::before {
          content: "";
          position: absolute;
          height: 100%;
          width: 4px;
          background-color: $dark-blue2;
          top: 0;
          left: 0;
        }
      }

      a {
        color: $white-color;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        padding-left: 2.5rem;
        column-gap: 0.5rem;
      }
    }
  }
}
