<aside
  class="sidebar h-100"
  (mouseleave)="isExpanded = false"
  (mouseenter)="isExpanded = true"
>
  <ul>
    <ng-container *ngFor="let item of navItems">
      <li class="py-3">
        <a
          class="logout"
          [routerLink]="item.route"
          routerLinkActive="active"
          #rla="routerLinkActive"
        >
          <i class="material-icons">{{ item.icon }}</i>
          @if (isExpanded ) {
          <span class="nav-text">{{ item.name }}</span>

          }
        </a>
      </li>
    </ng-container>
  </ul>
</aside>
