<section
  class="min-h-screen flex flex-col text-right items-center justify-end bg-[#f9fafb] text-center px-6 bg-no-repeat bg-center bg-contain"
  style="background-image: url('assets/images/page-not-found.webp')"
>
  <div class="bg-white bg-opacity-80 p-6 rounded-md shadow-md max-w-xl">
    <h1 class="text-4xl font-bold text-[#075169] mb-4">
      404 - الصفحة غير موجودة
    </h1>
    <p class="text-gray-600 text-lg mb-6">
      عذرًا، الصفحة التي تبحث عنها غير موجودة أو تم نقلها.
    </p>
    <a
      routerLink="/home"
      class="px-6 py-3 bg-[#075169] text-white rounded-md hover:bg-[#06405b] transition shadow"
    >
      العودة إلى الرئيسية
    </a>
  </div>
</section>
