
label {
  color: #152C5B;
}

input {
  background-color: #F5F6F8;
  height: 45px;
  margin-bottom: 12px;
  border-radius: 4px !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  -ms-border-radius: 4px !important;
  -o-border-radius: 4px !important;
  &::placeholder {
    color: #D3D6DC;
  }
}
.eye-pass {
  z-index: 99;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 15px;
  color: #ABABAB;
}

mat-error {
  color: #dc3545;
  text-transform: capitalize;
}
