<section class="h-100">
  <div class="containter h-100">
    <div class="row h-100 w-100">
      <div class="col-md-8 m-auto">
        <div class="form__wrapper mt-5">
          <h2 class="form__wrapper-header">Change Password</h2>
          <form class="auth-form" [formGroup]="changePasswordForm" (ngSubmit)="changePass()">
            <!-- oldPassword -->
            <div class="input-group mb-3 position-relative">
              <label for="oldPassword" class="w-100 mb-2">Old Password</label>
              <input [type]="showOldPassword? 'text' : 'password'"
                    id="oldPassword"
                    class="form-control"
                    placeholder="Please type here ..."
                    formControlName="oldPassword"
                    aria-label="oldPassword"
              >
              <span class="eye-pass" (click)="toggleShowOldPass()">
                <i class="fa-solid grey-color"
                [class]="!showOldPassword ? 'fa-eye' : 'fa-eye-slash'">
                </i>
              </span>
            </div>
            <ng-container *ngIf="changePasswordForm.get('oldPassword')?.dirty || changePasswordForm.get('oldPassword')?.touched">
              <mat-error class="mb-3" *ngIf="changePasswordForm.get('oldPassword')?.errors?.['required']">old Password is required</mat-error>
              <mat-error class="mb-3" *ngIf="changePasswordForm.get('oldPassword')?.errors?.['pattern']">
                least 8 characters, one
                special character, one lowercase letter, one uppercase letter and one digit.
              </mat-error>
            </ng-container>
            <!-- newPassword -->
            <div class="input-group mb-3 position-relative">
              <label for="newPassword" class="w-100 mb-2">New Password</label>
              <input [type]="showNewPassword? 'text' : 'password'"
                    id="newPassword"
                    class="form-control"
                    placeholder="Please type here ..."
                    formControlName="newPassword"
                    aria-label="newPassword"
              >
              <span class="eye-pass" (click)="toggleShowNewPass()">
                <i class="fa-solid grey-color"
                [class]="!showNewPassword ? 'fa-eye' : 'fa-eye-slash'">
                </i>
              </span>
            </div>
            <ng-container *ngIf="changePasswordForm.get('newPassword')?.dirty || changePasswordForm.get('newPassword')?.touched">
              <mat-error class="mb-3" *ngIf="changePasswordForm.get('newPassword')?.errors?.['required']">new Password is required</mat-error>
              <mat-error class="mb-3" *ngIf="changePasswordForm.get('newPassword')?.errors?.['pattern']">
                least 8 characters, one
                special character, one lowercase letter, one uppercase letter and one digit.
              </mat-error>
            </ng-container>
            <!-- confirmPassword -->
            <div class="input-group mb-3 position-relative">
              <label for="confirmPassword" class="w-100 mb-2">Confirm Password</label>
              <input [type]="showConfirmPassword? 'text' : 'password'"
                    id="confirmPassword"
                    class="form-control"
                    placeholder="Please type here ..."
                    formControlName="confirmPassword"
                    aria-label="confirmPassword"
              >
              <span class="eye-pass" (click)="toggleShowConfirmPass()">
                <i class="fa-solid grey-color"
                [class]="!showConfirmPassword ? 'fa-eye' : 'fa-eye-slash'">
                </i>
              </span>
            </div>
            <ng-container *ngIf="changePasswordForm.get('confirmPassword')?.dirty || changePasswordForm.get('confirmPassword')?.touched">
              <mat-error class="mb-3" *ngIf="changePasswordForm.get('confirmPassword')?.errors?.['required']">confirm Password is required</mat-error>
              <mat-error class="mb-3" *ngIf="changePasswordForm.getError('mismatch')">
                  not match with new Password
              </mat-error>
            </ng-container>
            <div class="auth-form__actions">
              <button class="button" mat-raised-button color="primary">Change Password</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
