<div class="container">
  <div class="row booking-section">
    <div class="col-md-6">
      <div class="booking-container">
        <div>
          <h1>{{ "home-page.booking.forget" | translate }}</h1>
          <p>{{ "home-page.booking.desc" | translate }}</p>
        </div>
        <div>
          <h5>{{ "home-page.booking.start" | translate }}</h5>
          <form [formGroup]="roomFiltersForm">
            <mat-form-field class="date-input">
              <mat-label>{{
                "home-page.booking.inputLabel" | translate
              }}</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                <input
                  matStartDate
                  formControlName="startDate"
                  placeholder="Start date"
                />
                <input
                  matEndDate
                  formControlName="endDate"
                  placeholder="End date"
                />
              </mat-date-range-input>
              <!-- <mat-hint>{{ 'home-page.booking.date-hint' | translate }} – {{ 'home-page.booking.date-hint' | translate }}</mat-hint> -->
              <mat-datepicker-toggle
                matIconPrefix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
              @if
              (roomFiltersForm.controls.startDate.hasError('matStartDateInvalid'))
              {
              <mat-error>{{
                "home-page.booking.invalid-start-date" | translate
              }}</mat-error>
              } @if
              (roomFiltersForm.controls.endDate.hasError('matEndDateInvalid')) {
              <mat-error>{{
                "home-page.booking.invalid-end-date" | translate
              }}</mat-error>
              }
            </mat-form-field>
            <div class="capacity-input">
              <button
                mat-icon-button
                class="decrement-button icon-button"
                (click)="decrementCapacity()"
              >
                <mat-icon>remove</mat-icon>
              </button>
              <mat-form-field class="normal-input w-75">
                <!-- Bind the displayed value dynamically -->
                <input
                  matInput
                  value="{{ 'home-page.booking.person' | translate }}"
                  readonly
                  placeholder="Capacity"
                />
              </mat-form-field>
              <button
                mat-icon-button
                class="increment-button"
                (click)="incrementCapacity()"
              >
                <mat-icon>add</mat-icon>
              </button>
            </div>
            <button
              (click)="exploreWithFilters()"
              class="explore-btn"
              mat-raised-button
              color="primary"
            >
              {{ "home-page.booking.btn" | translate }}
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6 mx-auto">
      <div class="img-container">
        <img
          src="../../../../assets/images/svg/room-filter-image.svg"
          alt="Room filter image"
          [ngStyle]="{
            transform: currentLang == 'en' ? 'scaleX(1)' : 'scaleX(-1)'
          }"
        />
      </div>
    </div>
  </div>
</div>
<div class="popular-rooms">
  <app-popular-rooms [rooms]="popularRooms()" />
</div>
<div class="shared-rooms">
  <app-shared-rooms [inputRooms]="firstRoomsSection()" />
</div>
<div class="shared-rooms">
  <app-shared-rooms [inputRooms]="secondRoomsSection()" />
</div>
<div class="shared-rooms">
  <app-shared-rooms [inputRooms]="thirdRoomsSection()" />
</div>
<div class="testimonial">
  <app-testimonials [room]="rooms()[0]"></app-testimonials>
</div>
