owl-carousel-o {
  display: block;
  min-height: 250px;
}
::ng-deep .owl-stage-outer {
  height: 700px;
}
.carousel-slide {
  position: relative;
  img {
    height: 450px;
    width: 100%;
    object-fit: cover;
  }
}

.caption-overlay {
  position: absolute;
  top: 37%;
  left: 7.5%;
  padding: 18px 45px 18px 25px;
  background-color: rgba(255, 255, 255, 0.64);
  border-radius: 0 152px 0 0;
  border-right: 8px solid #f4a024;
  text-align: left;
  z-index: 999;
  max-width: 37.1%;
}

@media only screen and (max-width: 1169px) {
  .caption-overlay {
    max-width: 50%;
  }
}
section {
  margin: 5rem 0;
}
