.booking-section {
  align-items: center;
  padding-top: 2rem;
  h1 {
    color: #152c5b;
  }

  p {
    color: #b0b0b0;
  }
  div h5 {
    color: #152c5b;
  }
}

.date-input {
  width: 67%;
}

.capacity-input {
  display: flex;
  width: 70%;
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    height: 40px;
    color: white;
    &.increment-button {
      background-color: #1abc9c;
    }
    &.decrement-button {
      background-color: #e74c3c;
    }
  }
}
.explore-btn {
  width: 40%;
  margin-top: 1.5rem;
  box-shadow: 0px 8px 10px 0px #3252df4d;
  background-color: #3252df !important;
  color: white !important;
}
.img-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex; /* Ensure content aligns properly */
  align-items: center;
  justify-content: center;
  img {
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  &::after {
    position: absolute;
    content: "";
    top: 15%;
    left: 15%;
    width: 90%;
    height: 90%;
    border: 2px solid #e5e5e5;
    border-radius: 15px;
    z-index: 0;
  }
}
