<owl-carousel-o class="carousel-slide" [options]="customOptions">
  @for (slide of slidesStore; track slide.id) {

  <ng-container>
    <ng-template carouselSlide [id]="slide.id">
      <div class="caption-overlay">
        <h2 class="text-2xl cursor-pointer text-[#294a70]">{{ slide.alt }}</h2>
      </div>
      <img
        [src]="slide.src"
        [alt]="slide.alt"
        loading="lazy"
        [attr.srcset]="slide.srcset"
        sizes="(max-width: 600px) 100vw, 300px"
      />
    </ng-template>
  </ng-container>
  }
</owl-carousel-o>
<section>
  <app-news-announcement />
</section>
<section>
  <app-ranking />
</section>
<section>
  <app-videos />
</section>
<section>
  <app-colleges />
</section>
<section>
  <app-numbers />
</section>
